In [5]:
import pandas as pd

valuedata_df = pd.read_json('../json_data/valuedata.json')
vectordata_df = pd.read_json('../json_data/vectordata.json')
surfacedata_df = pd.read_json('../json_data/surfacedata.json')
futuresdata_df = pd.read_json('../json_data/futuresdata.json')

In [2]:
valuedata_df

   value                      market_datetime currency    name    code
0    350  [2024, 31, 7, 13, 31, 874, 9, 0, 0]      KRW  KOSPI2  KOSPI2
1   5000  [2024, 92, 7, 13, 31, 874, 9, 0, 0]      USD     SPX     SPX

In [12]:
vectordata_df.iloc[0]['dates']

[[2021, 1, 0, 0, 0, 0, 9, 0, 0],
 [2021, 3, 0, 0, 0, 0, 9, 0, 0],
 [2021, 6, 0, 0, 0, 0, 9, 0, 0],
 [2021, 8, 0, 0, 0, 0, 9, 0, 0],
 [2021, 11, 0, 0, 0, 0, 9, 0, 0]]

In [10]:
print(vectordata_df.iloc[1]['dates'])

None

In [3]:
surfacedata_df.iloc[0]

spot                                                           350.0
value              {'v': 1, 'dim': [9, 25], 'data': [0.904032, 0....
dates              [[2021, 32, 17, 0, 0, 0, 9, 0, 0], [2021, 60, ...
strikes            {'v': 1, 'dim': [25], 'data': [105.00001, 122....
market_datetime                      [2021, 1, 17, 0, 0, 0, 9, 0, 0]
currency                                                         KRW
name                                            KOSPI2 20220414 Data
code                                            KOSPI2 20220414 Data
Name: 0, dtype: object

In [6]:
futuresdata_df.iloc[0]

average_trade_price                                350
first_trade_date       [2021, 1, 17, 0, 0, 0, 9, 0, 0]
last_trade_date        [2022, 1, 17, 0, 0, 0, 9, 0, 0]
maturity               [2022, 1, 17, 0, 0, 0, 9, 0, 0]
settlement_date        [2022, 1, 17, 0, 0, 0, 9, 0, 0]
unit_notional                                   250000
currency                                           KRW
underlying_currency                                KRW
underlying_codes                              [KOSPI2]
name                                       KOSPI2 fut1
code                                            165AAA
Name: 0, dtype: object